.fifa-draft-admin-Dashboard {
  display: flex;
  width: 100%;
}

.fifa-draft-wheels {
  background: black;
  color: #ffdf00;
  width: 100%;
  min-height: 100vh;

  h2 {
    font-size: 42px;
  }
}

.fifa-draft-player-tracking {
  background-color: white;
  color: green;
  width: 100%;
  min-height: 100vh;
}

.fifa-draft-rule-display {
    padding: 20px 40px;
    max-width: 50rem;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 12px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    animation: fadeIn 0.5s ease-in;
    background: linear-gradient(135deg, var(--rule-color) 0%, var(--rule-color-light) 100%)
}

.new-category-btn {
}
