.fifa-draft-admin-Dashboard {
  display: flex;
  width: 100%;
}

.fifa-draft-wheels {
  background: black;
  color: red;
  width: 100%;
  min-height: 100vh;
}

.fifa-draft-player-tracking {
  background-color: white;
  color: green;
  width: 100%;
  min-height: 100vh;
}
