@import 'variables';
@import 'common';

body {
  font-family: 'Courier';
  background-color: $background;
  color: $text-color;
}

.wizard-container {
  padding: 2rem;
  max-width: 55rem;
  margin: auto;

  .fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out; /* Adjust the duration as needed */
  }

  .fade-in.visible {
    opacity: 1;
  }

  .step-three {
    .lock-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .lock-box {
        max-width: 4rem;

        .lock {
          max-width: 100%;
        }
      }

      &.active-1 {
        .lock-1 {
          max-width: 4.5rem;
          path {
            fill: lighten($text-color, 10%);
          }

        }
      }

      &.active-2 {
        .lock-2 {
          max-width: 4.5rem;
          path {
            fill: lighten($text-color, 10%);
          }

        }
      }

      &.active-3 {
        .lock-3 {
          max-width: 4.5rem;
          path {
            fill: lighten($text-color, 10%);
          }

        }
      }
    }
  }

  .step-four {
    height: 100vh; /* Optional: This makes sure the container takes up the full viewport height */
    max-width: 40rem;
    margin: 0 auto;

    .qr-link {
      max-width: 100%;
    }
  }
}

.jeopardy {
  background-color: white;
  color: blue;
  min-height: 100vh;
}
